parameters:
    level: 7
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/paths.php
    paths:
        - src
    excludePaths:
        - config/*
        - src/Console/Installer.php
